<form id="frmConfiguration" method="post">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<i class="fa fa-fw fa-user"></i>
					<h3 class="box-title">User List</h3>
					<div class="box-tools pull-rigth">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"> <i
								class="fa fa-minus"></i> </button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"> <i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<table id="tblUserList" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>FirstName</th>
								<th>LastName</th>
								<th>E-mail</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="box-footer text-center">
					<button type="button" class="btn btn-warning btn-small">Cancel</button>
					<button type="submit" class="btn btn-success btn-small">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript" language="javascript">
	$(document).ready(function () {
    });

    $(function () {
        $("#tblUserList").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
</script>