<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">

            <li id="LiDashBoard" (click)="OnSelected_Menu('LiDashBoard', 'Null')">
                <a routerLink="dashboard">
                    <i class="fa fa-dashboard"></i><span>DashBoard</span>
                </a>
            </li>

            <li class="treeview" id="LiUsers" (click)="OnSelected_Menu('LiUsers', 'Null')">
                <a href="#" >
                    <i class="fa fa-users" ></i><span>Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="LiUserAddEdit" (click)="OnSelected_Menu('LiUsers', 'LiUserAddEdit')">
                        <a  routerLink="user-add-edit">
                            <i class="fa fa-circle-o"></i>Add/Update
                        </a>
                    </li>
                    <li id="LiUserList" (click)="OnSelected_Menu('LiUsers', 'LiUserList')">
                        <a routerLink="user-list">
                            <i class="fa fa-circle-o"></i>List
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>